

.background {
  background: rgb(34,193,195);
  background: linear-gradient(298deg,
              rgba(34,193,195,1) 0%,
              rgba(132,201,226,1) 44%,
              rgba(155, 248, 255) 87%);
  height: 100vh;
}

.Buttons {
  position: relative;
  display: grid;
  margin: auto;
  background-color: rgb(72, 119, 189);
  border-radius: 25px;
  width: 150px;
  height: 50px;
  color: aliceblue;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: large;
  align-content: center;
  top: 23px;
  transition: 0.3s;
}

.Buttons:hover {
  background-color: rgb(142, 178, 231);
}

.outline {
  position: relative;
  margin: auto;
  width: 300px;
  height: 150px;
  background-color: rgb(141, 141, 141);
  border-radius: 10px;
  border: black;
  border-style: solid;
  top: 30vh;
}

